.calendar-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1E1F21;
    color: #DDDCDD;
    padding: 16px;
}

.span-title{
    font-size: 32px;
    margin-right: 8px;
}

.calendar-month-switch{
    border: unset;
    background-color: #565656; 
    color: #e6e6e6;
    height: 20px;
    margin-right: 2px;
    border-radius: 4px;
    cursor: pointer;
}

.calendar-today-button{
    padding-left: 16px;
    padding-right: 16px;
    font-weight: bold;
}